.faq{
  @include component_size;
  h2{
    margin-bottom: 10px;
    font-size: $font-size-large;
    @include responsive($breakpoint-small){
      font-size: 18px;
      font-weight: 400;
    }
  }
}
.faq-list{
  list-style: none;
  li{
    margin: 10px 0;
  }
  button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 20px;
    text-align: left;
    font-size: $font-size-medium;
    background-color: rgb(45,45,45);
    color: $txt-color;
    transition: 0.3s;
    position: relative;
    &:hover{
      background-color: rgb(87, 87, 87);
    }
  }
  p{
    font-size: $font-size-medium;
    background-color: rgb(45,45,45);
    height: 0;
    opacity: 0;
    transition: 0.3s;
  }
  p.open{
    height: 150px;
    padding: 10px 0;
    opacity: 1;
  }
}