.faq{
  @include component_size;
  h2{
    margin-bottom: 10px;
  }
}
.faq-list{
  list-style: none;
  li{
    margin: 10px 0;
  }
  button{
    display: block;
    width: 100%;
    padding: 30px 20px;
    text-align: left;
    font-size: $font-size-medium;
    background-color: rgb(45,45,45);
    color: $txt-color;
    transition: 0.3s;
    &:hover{
      background-color: rgb(87, 87, 87);
    }
  }
  p{
    font-size: $font-size-medium;
    background-color: rgb(45,45,45);
    padding: 24px;
  }
}