header.membership{
  width: 30%;
}

.membership{
  @include component_size;
  text-align: center;
  @include responsive($breakpoint-small){
    p{text-align: left;}
  }
}
.header-email{
  margin: 20px auto;
  position: relative;
  display: flex;
  @include responsive($breakpoint-small){
    display: block;
  }
  label{
    position: absolute;
    color: #aaa;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: 0.3s;
    @include responsive($breakpoint-small){
      position: absolute;
      top:25px;
    }
  }
  &.focused{
    label{
      top: 15px;
      font-size: 10px;
    }
  }
  input{
    flex: 1;
    // width: 300px;
    height: 50px;
    padding: 0.5rem 2rem;
    padding-top: 15px;
    font-size: 16px;
    margin-right: 7px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    color: $txt-color;
    @include responsive($breakpoint-small){
      width: 100%;
    }
  }
  button{
    @include button-style;
    font-size: $font-size-medium;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include responsive($breakpoint-medium){
      font-size: $font-size-small;
      display: block;
    }
    @include responsive($breakpoint-small){
      font-size: 18px;
      padding: 15px 20px;
      margin: 20px auto;
    }
    
  }
}