//색상에 대한 변수
$primary-color: rgb(214, 0, 11);
$hover-color: rgb(153, 22, 29);
$background-color: #111;
$txt-color: #fff;

//폰트
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 14px;

//반응형
$breakpoint-small: 600px;
$breakpoint-medium: 960px;
$breakpoint-large: 1024px;
